/MasakanTetangga/MasakanTetangga.Android/obj
/MasakanTetangga/MasakanTetangga.Android/bin/Debug
/.vs/MasakanTetangga
/MasakanTetangga/MasakanTetangga/bin/Debug/netstandard2.0
/MasakanTetangga/MasakanTetangga/obj
/MasakanTetangga/MasakanTetangga.iOS/obj
/MasakanTetangga/MasakanTetangga/bin/Release/netstandard2.0
/MasakanTetangga/MasakanTetangga.Android/bin/Release
